body {
    overflow-x: hidden;
    ;
}

.container {
    margin-left: 0;
    margin-right: 0;
    /* border: solid 10px black; */
}

.container_ {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 5rem;
    width: 100%;
    /* border: solid 10px black; */
    /* height:100px; */
}

/* .conatiner_2{
    width: 100%; 
        /* border: solid 10px black; */
}

*/ .flex-box {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-container {
    border: solid 1px black;
}

/* .card{
    height: 50%;
    /* width: 20%; */
/* width: 50%; */
/* border: solid 10px black; */
/* } */
/* .card-item{ */
/* width: ; */
/* height: 50%; */
/* border: solid 10px black; */
/* } */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 100px;
}

.product {
    display:flex;
    margin-left: 100px;
    margin-top: 200px;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 340px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    overflow: hidden;
}

.imgbox img {
    width: 100%;
    display: block;
    margin: 20px auto 0;
}

.product .imgbox {
    height: 100%;
    box-sizing: border-box;
}

.details {
    position: absolute;
    width: 100%;
    bottom: -145px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: .5s;
}

.details h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
}

.details h2 span {
    font-size: 12px;
    color: #ccc;
    font-weight: normal;
}

.details .price {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 20px;
}

.cards label {
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
}

.cards ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.cards ul li {
    list-style-type: none;
    margin: 5px 5px 0;
    font-size: 12px;
    font-weight: bold;

}

.cards ul li:first-child {
    margin-left: 0;
}

.cards ul.colors li {
    width: 16px;
    height: 16px;
}

.cards ul.colors li:nth-child(1) {
    background-color: yellow;
}

.cards ul.colors li:nth-child(2) {
    background-color: red;
}

.cards ul.colors li:nth-child(3) {
    background-color: green;
}

.cards ul.colors li:nth-child(4) {
    background-color: orange;
}

.cards ul.colors li:nth-child(5) {
    background-color: lightblue;
}

.cards a {
    display: block;
    padding: 5px;
    color: #fff;
    margin: 15px;
    background: #ff4faf;
    text-align: center;
    text-decoration: none;
    transition: .3s;
}

.cards a:hover {
    color: #000;
}

.product:hover .details {
    bottom: 0;
}

.navigation a {
    text-decoration: none;
}

.cards h3 {
    text-align: center;
    font-style: bold;
}

.carousel {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .flex-box {
        flex-direction: column;
    }
}