
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.2s;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

.containers{
    max-width: 1170px;
    margin: auto;
    padding: 20px;
}

.shop {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.shop:hover .image {
  opacity: 0.5;
}

.shop:hover .middle {
  opacity: 1;
}

button {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 0%;
  border-color: white;
}
