* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all linear 0.2s;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

.containers {
    max-width: 1170px;
    margin: auto;
    padding: 20px;
}



/***** FOOTER ****/
.footer {
    width: 100%;
    background-color: #094074;
    padding: 70px 0;
    height: max-content;
    font-family: "poppins", sans-serif;

}

@media screen and (min-width:1201px) {
    .footer {
        padding-bottom: 30px;
    }
}

.rows {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 20%;
    height: max-content;
}

.footer-col div img {
    width: 100%;
    height: auto;
}

.footer-col h4 {
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    border-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-col h4 span {
    padding-bottom: 3px;
    border-bottom: 3px solid #4a47a3;
}

.footer-col .company {
    display: flex;

    gap: 5rem;
}

.footer-col .company ul {
    padding: 0 12px;
    margin: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.left-align {
    text-align: left !important;
    padding-left: 10px;
}

.footer-col .company ul li,
.footer-col .company ul li a {
    text-align: left;
}

.footer-col ul li span,
.footer-col ul li a,
.footer-col ul li {
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #dde5ecf3;
    display: block;
    transition: all 0.3s ease;
    text-align: center;
}

@media screen and (min-width:1201px) {

    .footer-col ul li span,
    .footer-col ul li a,
    .footer-col ul li {
        text-align: left;
    }

    .news ul {
        /* padding: 0 !important; */
    }
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.contact-us {
    padding: 0 10px;
    margin: 0;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.email a {
    text-align: left !important;
}

.footer-col ul li a img {
    font-size: 20px;
    width: 100px;
}

.news ul {
    padding-left: 10px;
    padding-right: 10px;
}

.social-list {
    display: flex;
    flex-direction: column;
}

img,
svg {
    vertical-align: middle;
}

.copyrights {
    text-align: center !important;
    margin-top: 20px !important;
    width: 100% !important;
}

@media screen and (min-width:1201px) {
    .copyrights {
        margin-top: 40px !important;
    }
}


.footer-col .social-links {
    text-align: center;
}

.footer-image {
    text-align: center;
    height: 50%;
    width: 50%;
}

.footer-image img {
    text-align: center !important;
    height: auto !important;
    margin-top: 15px !important;
}

.copyrights p {
    color: aliceblue !important;
    font-size: 12px !important;
}

/* @media screen and (max-width: 1200px) {
  .footer-col .company ul {
    padding: 0 10px;
    margin: 0;
  }
  .footer-col ul li,
  .footer-col ul li a,
  .footer-col h4,
  .footer-col .left-align {
    text-align: left !important;
  }
  .left-align {
    padding-left: 10px !important;
  }
  .footer-col {
    width: 30%;
    margin-bottom: 30px;
    padding-left: 10px;
  }
}
 */




@media screen and (max-width: 1200px) {
    .footer-col {
        width: 30%;
        margin-bottom: 30px;
        padding-left: 10px;
    }

    .left-align {
        text-align: center !important;
        padding: 0;
    }

    .email a {
        text-align: center !important;
    }

    .footer-col .company ul li,
    .footer-col .company ul li a {
        text-align: center;
    }

    .footer-col .company {
        display: flex;
        justify-content: center;
    }

    .rows {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5em;
    }
}

@media screen and (min-width: 767px) and (max-width: 1130px) {
    .email {
        overflow-wrap: break-word;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px) {
    .footer-col .company ul {
        padding: 0 10px;
        margin: 0;
        width: 100%;
    }

    .rows {
        gap: 2em;
    }

    .footer-col .company ul li,
    .footer-col .company ul li a,
    .footer-col .company h4,
    .footer-col ul li,
    .footer-col ul li a,
    .footer-col h4,
    .footer-col .left-align {
        text-align: center !important;
    }

    .footer-col div img {
        width: 60%;
    }

    .footer-col {
        width: 100%;
    }

    .section {
        width: 100%;
    }

    .one,
    .two,
    .three {
        position: relative;
        text-align: left;
        margin-top: 50px;
        margin: -20px;
        height: 220vh;
        width: 100%;
    }

    .column-right {
        display: none;
    }

    .text p {
        line-height: 20px;
    }

    .column-left p {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .footer-col .company ul {
        padding: 0 10px;
        margin: 0;
    }
}